* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

@font-face {    
    font-family: "HighSpirited";
    src: url(../fonts/High\ Spirited.ttf);
}

@font-face {
    font-family: "CenturyGothic";
    src: url(../fonts/Century\ Gothic\ Normal.TTF);
}

.navegacion {
    background-color: #eacaff;
}

.menu {   
    text-decoration: none;
    font-family: sans-serif;
    font-weight:bolder;
    list-style-type: none;      
    gap: 5px;
    display: flex;
    align-items: center; 
}

.links {
    font-family: CenturyGothic;
    text-decoration: none;
    font-size: 20px;
    color: #9f86c0;
}

.translate {
    transition: 500ms;
}

.translate:hover {
    transform: translateY(-5px);
    filter: brightness(1)
}

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  

.inicio {
        font-family: CenturyGothic;
        text-decoration: none;
        font-size: 24px;
        color: #754da8;

    }

.logo {
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
}

.main{
    width: auto;
    max-height: fit-content;
}

.divtext_titulo {
    font-family: HighSpirited;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    font-size: 120px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.seccion2 {
    padding: 40px;
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 90px;  

}

.seccion3    {
    background-image: url(../images/contacto.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #eacaff;
}

.card_image {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 75%;
}

.card-title {
    font-family: HighSpirited;
    font-size: 64px;
    text-decoration: underline;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-family: CenturyGothic;
    line-height: 0.9;
    text-align: center;

}

.imgcontacto {
    background-position: center;
    height: 100vh;
}

.formulario {
    background-color: #9f86c0;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color:#eacaff;
    color: white;
    padding: 5px;
}


.grid1 {
    min-height: 500px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "img1 img2 titulo titulo"
    "img1 img2 parrafo parrafo"
    "img1 img2 parrafo parrafo"
    "img1 img2 parrafo parrafo";
    gap: 4px;
}
.grid1__img1 {
    grid-area: img1;
}
.grid1__img2{
       grid-area: img2;
}
.grid1__titulo{
    grid-area: titulo;
}
.grid1__parrafo{
    grid-area: parrafo;
}

.grid2 {
    width: 100%;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(4 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "titulo1 titulo1 imge1 imge2"
    "parrafo1 parrafo1 imge1 imge2"
    "parrafo1 parrafo1 imge1 imge2"
    "parrafo1 parrafo1 imge1 imge2";
    column-gap: 4px;
}
.grid2__img1 {
    grid-area: imge1;
}
.grid2__img2{
       grid-area: imge2;
}
.grid2__titulo{
    grid-area: titulo1;
}
.grid2__parrafo{
    grid-area: parrafo1;
}

.linea-division {
    width: 50%;
    height: 2px;
    background-color: #eacaff;
}

.d-item img {
    filter: brightness(0.9)
}
.subtitulo {
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 7px 0;
    font-size: 80px;
    font-weight: 500;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
   
} 
.descripcion {
    font-family: 'Dancing Script', cursive;
    color: #ffffff75;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .subtitulo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin: 7px 0;
        font-size: 40px;
        font-weight: 500;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        font-family: 'Dancing Script', cursive;
        margin-top: 0;
       
    } 

    .descripcion {
       font-size: 15px;
    }

    .boton {
       opacity: 0%;
    }

    .grid1 {
        max-height: 200px;
        max-width: 768px;
        /* width: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "img1 img2"
        "img1 img2"
        "titulo titulo"
        "parrafo parrafo";
    }
      
    .grid2 {
            max-height: 200px;
            max-width: 768px;
            /* width: 100%; */
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
            "img1 img2"
            "img1 img2"
            "titulo titulo"
            "parrafo parrafo";
        }
    
        .grid2__img1 {
                grid-area: img1;
        }
        .grid2__img2{
                   grid-area: img2;
        }
        .grid2__titulo{
            grid-area: titulo;
            }
        .grid2__parrafo{
                grid-area: parrafo;
            }
    
        
    }

