@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@font-face {
  font-family: HighSpirited;
  src: url(/fonts/HighSpirited.ttf);
}
@font-face {
  font-family: CenturyGothic;
  src: url(/fonts/CenturyGothic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}
*::-moz-selection {
  background-color: #231942;
  color: #9f86c0;
}
*::selection {
  background-color: #231942;
  color: #9f86c0;
}

.navegacion {
  background-color: #eacaff;
  height: 4rem;
  padding-left: 1rem;
}
.navegacion .refugiolunar {
  font-family: "Inspiration";
  color: #5e548e;
  font-size: 2rem;
}
.navegacion .refugiolunar:hover {
  filter: brightness(0.1);
}
.navegacion .menu {
  background-color: #eacaff;
  text-decoration: none;
  list-style-type: none;
  gap: 5px;
  display: flex;
  align-items: center;
}
.navegacion .menu ul {
  background-color: #e4c2fa;
  font-family: "CenturyGothic";
}
.navegacion .menu ul li a {
  color: #5e548e;
}
.navegacion .menu ul li a:hover {
  background-color: #231942;
  color: #eacaff;
  transition: 500ms;
  transform: translateY(-1px);
}
.navegacion .menu .translate {
  transition: 500ms;
}
.navegacion .menu .translate:hover {
  transform: translateY(-3px);
}
.navegacion .menu .translate .inicio {
  font-family: "CenturyGothic";
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  color: #231942;
}
.navegacion .menu .translate .links {
  font-family: "CenturyGothic";
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: #9f86c0;
}
.navegacion .logo {
  width: 55px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  animation: RotateIn 5s;
}

footer {
  background-color: #eacaff;
  padding: 0.5rem;
}
footer .translate {
  transition: 500ms;
}
footer .translate:hover {
  transform: translateY(-5px);
  color: #5e548e;
  font-weight: bold;
  filter: brightness(1);
}
footer .footer_der {
  background-color: rgba(0, 0, 0, 0.1);
}

main {
  width: auto;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
main .carrusel .subtitulo {
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 7px 0;
  font-size: 80px;
  font-weight: 500;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  font-family: "Inspiration";
  margin-top: 0;
}
main .carrusel .subtitulo:hover {
  transition: 1.5s;
  transform: translateY(-5px);
  color: #c090ff;
}
main .carrusel .descripcion {
  font-family: "CenturyGothic";
  color: rgba(255, 255, 255, 0.4588235294);
  font-size: 20px;
}
main .seccion2 {
  padding: 40px;
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
main .seccion2 .card {
  background-color: #9f86c0;
}
main .seccion2 .card__title {
  font-family: "Inspiration";
  color: #eacaff;
  font-size: 3.5rem;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .seccion2 .card__text {
  font-family: "CenturyGothic";
  line-height: 0.9;
  text-align: center;
  color: white;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "imagen titulo1 titulo1" "imagen text1 text1" "imagen text1 text1" "imagen text2 text2" "imagen text2 text2";
}
.grid4 .grid4__img {
  display: cover;
  grid-area: imagen;
}
.grid4 .grid4__titulo {
  font-family: "Inspiration";
  grid: titulo1;
}
.grid4 .grid4__titulo h1 {
  font-size: 120px;
}
.grid4 .grid4__texto1 {
  background-color: blue;
  width: 100%;
  grid-area: text1;
}
.grid4 .grid4__texto2 {
  background-color: purple;
  width: 100%;
  grid-area: text2;
}

.grid1 {
  min-height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "img1 img2 titulo titulo" "img1 img2 parrafo parrafo" "img1 img2 parrafo parrafo" "img1 img2 parrafo parrafo";
}
.grid1 .grid1__img1 {
  grid-area: img1;
}
.grid1 .grid1__img2 {
  grid-area: img2;
}
.grid1 .grid1__titulo {
  grid-area: titulo;
}
.grid1 .grid1__parrafo {
  grid-area: parrafo;
}

.grid2 {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "titulo1 titulo1 imge1 imge2" "parrafo1 parrafo1 imge1 imge2" "parrafo1 parrafo1 imge1 imge2" "parrafo1 parrafo1 imge1 imge2";
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.grid2 .grid2__img1 {
  grid-area: imge1;
}
.grid2 .grid2__img2 {
  grid-area: imge2;
}
.grid2 .grid2__titulo {
  grid-area: titulo1;
}
.grid2 .grid2__parrafo {
  grid-area: parrafo1;
}

.grid3 {
  background-image: url(../images/agenda.jpeg);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "titagen titagen titagen titagen titagen titagen titagen titagen" "mes1 mes1 mes2 mes2 form form form form" "mes1 mes1 mes2 mes2 form form form form" "mes3 mes3 mes4 mes4 form form form form" "mes3 mes3 mes4 mes4 form form form form";
  gap: 5px;
  padding: 0;
}
.grid3 .tituloagenda {
  text-align: center;
  grid-area: titagen;
}
.grid3 .tituloagenda__h1 {
  font-family: "Inspiration";
  font-size: 6rem;
  color: #9f86c0;
}
.grid3 .mes1 {
  grid-area: mes1;
}
.grid3 .mes1 .month {
  background-color: rgba(217, 188, 255, 0.74);
  font-family: "Raleway";
  color: #231942;
  border-radius: 20px;
}
.grid3 .mes1 .month h2 {
  color: #231942;
}
.grid3 .mes1 .mesx {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.grid3 .mes1 .mesx .dia {
  background-color: #9f86c0;
  font-weight: bold;
}
.grid3 .mes1 .mesx .primerdia3 {
  grid-column-start: 3;
}
.grid3 .mes2 {
  grid-area: mes2;
}
.grid3 .mes2 .month {
  background-color: rgba(217, 188, 255, 0.74);
  font-family: "Raleway";
  color: #231942;
  border-radius: 20px;
}
.grid3 .mes2 .month h2 {
  color: #231942;
}
.grid3 .mes2 .mesx {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.grid3 .mes2 .mesx .dia {
  background-color: #9f86c0;
  font-weight: bold;
}
.grid3 .mes2 .mesx .primerdia3 {
  grid-column-start: 6;
}
.grid3 .mes3 {
  grid-area: mes3;
}
.grid3 .mes3 .month {
  background-color: rgba(217, 188, 255, 0.74);
  font-family: "Raleway";
  color: #231942;
  border-radius: 20px;
}
.grid3 .mes3 .month h2 {
  color: #231942;
}
.grid3 .mes3 .mesx {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.grid3 .mes3 .mesx .dia {
  background-color: #9f86c0;
  font-weight: bold;
}
.grid3 .mes3 .mesx .primerdia3 {
  grid-column-start: 1;
}
.grid3 .mes4 {
  grid-area: mes4;
}
.grid3 .mes4 .month {
  background-color: rgba(217, 188, 255, 0.74);
  font-family: "Raleway";
  color: #231942;
  border-radius: 20px;
}
.grid3 .mes4 .month h2 {
  color: #231942;
}
.grid3 .mes4 .mesx {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.grid3 .mes4 .mesx .dia {
  background-color: #9f86c0;
  font-weight: bold;
}
.grid3 .mes4 .mesx .primerdia3 {
  grid-column-start: 4;
}
.grid3 .form {
  background-color: rgba(0, 0, 0, 0.3960784314);
  color: #eacaff;
  border-radius: 2rem;
  font-family: "CenturyGothic";
  grid-area: form;
}

.fcontacto {
  background-image: url(../../images/contacto.jpeg);
  height: auto;
}
.fcontacto .contact_form {
  font-family: "CenturyGothic";
  width: 480px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #fbfbfb;
  padding-left: 20px;
}
.fcontacto .contact_form .formulario__title1 {
  font-family: "Inspiration";
  text-align: center;
  color: #9f86c0;
  padding-right: 1.5rem;
}
.fcontacto .contact_form .formulario__title1 h1 {
  font-weight: bold;
  font-size: 70px;
}
.fcontacto .contact_form .formulario__title2 {
  font-size: 20px;
  color: #5e548e;
}
.fcontacto .contact_form .formulario__form input {
  justify-content: start;
  background-color: #fbfbfb;
  width: 440px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #eacaff;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.fcontacto .contact_form .formulario__form input:focus {
  outline: 0;
  border: 1px solid #9f86c0;
}
.fcontacto .contact_form .formulario__form textarea {
  background-color: #fbfbfb;
  width: 440px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #eacaff;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}
.fcontacto .contact_form .formulario__form textarea:focus {
  outline: 0;
  border: 1px solid #9f86c0;
}
.fcontacto .contact_form .formulario__form label {
  display: block;
  float: center;
}
.fcontacto .contact_form .formulario__form button {
  text-transform: uppercase;
  background-color: #eacaff;
  border-color: #9f86c0;
  border-style: solid;
  border-radius: 10px;
  width: 440px;
  cursor: pointer;
}
.fcontacto .contact_form .formulario__form button p {
  color: #ffffff;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}
.fcontacto .contact_form .formulario__form span {
  color: #9f86c0;
}
.fcontacto .contact_form .formulario__form .aviso {
  font-size: 13px;
  color: #5e548e;
}
.fcontacto .contact_form .formulario__form p {
  font-size: 14px;
  color: #5e548e;
}
@keyframes RotateIn {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}/*# sourceMappingURL=styles.css.map */