.grid3 {
    background-image: url(../images/agenda.jpeg);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "titagen titagen titagen titagen titagen titagen titagen titagen"
        "mes1 mes1 mes2 mes2 form form form form"
        "mes1 mes1 mes2 mes2 form form form form"
        "mes3 mes3 mes4 mes4 form form form form"
        "mes3 mes3 mes4 mes4 form form form form";
    gap: 5px;
    padding: 0;

    @include mobile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(8, 1fr);
            grid-template-areas: 
            "titagen titagen"
            "mes1 mes1"
            "mes2 mes2"
            "mes3 mes3"
            "mes4 mes4"
            "form form"
            "form form";
    }

    

    .tituloagenda {
        background-image: url(/images/contacto.jpeg);
        text-align: center;
        grid-area: titagen;

        &__h1 {
            font-family: $fontInspiration;
            font-size: 6rem;
            color: $segundoColor;
        }
    }

    .mes1 {
        grid-area: mes1;

        .month {
            background-color: rgba(217, 188, 255, 0.74);
            font-family: $fontRaleway;
            color: $cuartoColor;
            border-radius: 20px;

            h2 {
                color: $cuartoColor;
            }
        }

        .mesx {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;

            .dia {
                background-color: $segundoColor;
                font-weight: bold;
            }

            .primerdia3 {
                grid-column-start: 3;
            }
        }

    }

    .mes2 {
        grid-area: mes2;

        .month {
            background-color: rgba(217, 188, 255, 0.74);
            font-family: $fontRaleway;
            color: $cuartoColor;
            border-radius: 20px;

            h2 {
                color: $cuartoColor;
            }
        }

        .mesx {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;

            .dia {
                background-color: $segundoColor;
                font-weight: bold;
            }

            .primerdia3 {
                grid-column-start: 6;
            }
        }

    }

    .mes3 {
        grid-area: mes3;

        .month {
            background-color: rgba(217, 188, 255, 0.74);
            font-family: $fontRaleway;
            color: $cuartoColor;
            border-radius: 20px;

            h2 {
                color: $cuartoColor;
            }
        }

        .mesx {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;

            .dia {
                background-color: $segundoColor;
                font-weight: bold;
            }

            .primerdia3 {
                grid-column-start: 1;
            }
        }

    }

    .mes4 {
        grid-area: mes4;

        .month {
            background-color: rgba(217, 188, 255, 0.74);
            font-family: $fontRaleway;
            color: $cuartoColor;
            border-radius: 20px;

            h2 {
                color: $cuartoColor;
            }
        }

        .mesx {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;

            .dia {
                background-color: $segundoColor;
                font-weight: bold;
            }

            .primerdia3 {
                grid-column-start: 4;
            }
        }

    }

    .form {
        background-color: #00000065;
        color: $primerColor;
        border-radius: 2rem;
        font-family: $fontGothic;
        grid-area: form;
    }
}