main {
    width: auto;
    max-height: fit-content;

    .carrusel {
        .subtitulo {
            justify-content: center;
            align-items: center;
            color: #fff;
            margin: 7px 0;
            font-size: 80px;
            font-weight: 500;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
            font-family: $fontInspiration;
            margin-top: 0;

            &:hover {
                transition: 1.5s;
                transform: translateY(-5px);
                color: #c090ff;
            }

            @include mobile {
                font-size: 50px;
            }
        }

        .descripcion {
            font-family: $fontGothic;
            color: #ffffff75;
            font-size: 20px;

            @include mobile {
                position: absolute;
                opacity: 0%;
            }
        }

        .boton {
            @include mobile {
                position: absolute;
                opacity: 0%;
            }
        }
    }

    .seccion2 {
        padding: 40px;
        display: flex;
        background-color: #ffffff;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 90px;

        .card {
            background-color: $segundoColor;

            &__title {
                font-family: $fontInspiration;
                color: $primerColor;
                font-size: 60px;
                text-decoration: underline;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @include mobile {
                    font-size: 45px;
                }
            }

            &__text {
                font-family: $fontGothic;
                line-height: 0.9;
                text-align: center;
                color: white;
            }
        }
    }
}