.navegacion {
    background-color: $primerColor;
    height: 4rem;
    padding-left: 1rem;

    .refugiolunar {
        font-family: $fontInspiration;
        color: $tercerColor;
        font-size: 2rem;

        &:hover {
            filter: brightness(0.1);
        }
    }

    .menu {
        background-color: $primerColor;
        text-decoration: none;
        list-style-type: none;
        gap: 5px;
        display: flex;
        align-items: center;

        ul {
            background-color: #e4c2fa;
            font-family: $fontGothic;

            li {
                a {
                    color: $tercerColor;

                    &:hover {
                        background-color: $tercerColor;
                        color: $primerColor;
                        transition: 500ms;
                        transform: translateY(-1px)
                    }
                }
            }
        }

        .translate {
            transition: 500ms;

            &:hover {
                transform: translateY(-3px);
            }

            .inicio {
                font-family: $fontGothic;
                font-weight: bold;
                text-decoration: none;
                font-size: 24px;
                
                &:hover {
                    color: white;
                }
                }
            }

            .links {
                font-family: $fontGothic;
                font-weight: bold;
                text-decoration: none;
                font-size: 20px;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .logo {
        width: 55px;
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        align-items: flex-start;
        animation: RotateIn 5s;

        @include mobile {
            position: absolute;
            opacity: 0%;
        }
    }
