.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 130vh;

    .subtitulosm {
        font-family: $fontSpirited;
        text-decoration: underline;
        color: $segundoColor;
        font-size: 70px;
        text-align: start;
        padding-left: 4rem;
    }

    .parrafosm {
        color: $cuartoColor;
        font-family: $fontGothic;
        font-size: 1.2rem;
        text-align: start;
        padding-inline: 4rem
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 9;

        h1 {
            background-image: url(/images/contacto.jpeg);
            height: 100%;
            color: $tercerColor;
            font-family: $fontInspiration;
            font-size: 7rem;
            text-align: center;
            padding-top: 1rem;
        }

    }

    .div2 {

        grid-area: 2 / 1 / 8 / 4;
        justify-content: center;
        align-items: center;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .div3 {
        grid-area: 2 / 4 / 3 / 9;

        h3 {
            padding-top: 4rem;
        }
    }

    .div4 {
        grid-area: 3 / 4 / 3 / 9;
    }

    .div5 {
        margin-top: 175px;
        margin-bottom: 250px;
        grid-area: 5 / 4 / 3 / 9;
    }

    .div6 {
        grid-area: 8 / 4 / 4 / 9;
        padding-bottom: 8rem;
        margin-top: 75px;

        h4 {
            font-family: $fontSpirited;
            color: $segundoColor;
            font-size: 50px;
            text-align: center;
            padding-inline: 4rem;

        }
    }
}