.qs_titulo {
    text-align: center;
    font-family: $fontInspiration;
    font-size: 100px;
    color: $segundoColor
}

.fotosqs {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subtitulosqs {
    text-align: center;
    text-decoration: underline;
    font-family: $fontSpirited;
    font-size: 70px;
    color: $segundoColor;
    padding-left: 2rem;
}

.subtitulosqsh4 {
    text-align: start;
    font-family: $fontSpirited;
    font-size: 50px;
    color: $segundoColor;
    padding-inline: 2rem;
}


.parrafosqs {
    text-align: justify;
    font-family: $fontGothic;
    padding-inline: 2rem;
}
    

.grid1quiensoy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template:
    "foto subtit1 subtit1"
    "foto parr1 parr1"
    "foto subtit2 subtit2"
    "foto subtit3 subtit4"
    "foto parr2 parr3"
    "foto subtit5 subtit6"
    "foto parr4 parr5"
    ;

    @include mobile {
        grid-template:
        "subtit1 subtit1"
        "parr1 parr1"
        "subtit2 subtit2"
        "subtit3 subtit3"
        "parr2 parr2"
        "subtit4 subtit4"
        "parr3 parr3"
        "subtit5 subtit5"
        "parr4 parr4"
        "subtit6 subtit6"
        "parr5 parr5";   
    }

    &_foto {
        grid-area: foto;

        @include mobile {
            position: absolute;
            opacity: 0%;
        }
    }

    &_subtit1 {
        grid-area: subtit1;
    }

    &_subtit2 {
        grid-area: subtit2;
    }

    &_subtit3 {
        grid-area: subtit3;
    }

    &_subtit4 {
        grid-area: subtit4;
    }

    &_subtit5 {
        grid-area: subtit5;
    }

    &_subtit6 {
        grid-area: subtit6;
    }

    &_parr1 {
        grid-area: parr1;
    }

    &_parr2 {
        grid-area: parr2;
    }

    &_parr3 {
        grid-area: parr3;
    }

    &_parr4 {
        grid-area: parr4;
    }

    &_parr5 {
        grid-area: parr5;
    }
    
    
}