* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

@font-face {    
    font-family: "HighSpirited";
    src: url(../fonts/High\ Spirited.ttf);
}

@font-face {
    font-family: "CenturyGothic";
    src: url(../fonts/Century\ Gothic\ Normal.TTF);
}