.fotosterap {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subtitulosterap {
    text-align: center;
    text-decoration: underline;
    font-family: $fontSpirited;
    font-size: 80px;
    color: $segundoColor;
}

.objetivo {
    text-align: center;
    font-family: $fontSpirited;
    font-size: 50px;
    color: $segundoColor;
    padding-inline: 2rem;
}

.parrafos {
    text-align: justify;
    font-family: $fontGothic;
    padding-inline: 2rem;
}

.grid1terap {
    display: grid;
    grid-template:
    "grid1_foto1 grid1_foto2 grid1_subtit1"
    "grid1_foto1 grid1_foto2 grid1_parr1"
    "grid1_foto1 grid1_foto2 grid1_subtit2" 
    "grid1_foto1 grid1_foto2 grid1_parr2" ;
    
    @include mobile {
        grid-template: 
        "grid1_foto1 grid1_foto2"
        "grid1_subtit1 grid1_subtit1"
        "grid1_parr1 grid1_parr1"
        "grid1_subtit2 grid1_subtit2"
        "grid1_parr2 grid1_parr2";
    }

    &_titulo {
        h1 {
            text-align: center;
            font-family: $fontInspiration;
            font-size: 100px;
            color: $segundoColor
        }
    }

    &_foto1 {
        grid-area: grid1_foto1;
    }

    &_foto2 {
        grid-area: grid1_foto2;
    }

    &_subtit1 {
        grid-area: grid1_subtit1;
    }

    &_parr1 {
        grid-area: grid1_parr1;
    }

    &_subtit2 {
        grid-area: grid1_subtit2;
    }

    &_parr2 {
        grid-area: grid1_parr2;
    }
}

.grid2terap {
    background-color: rgb(253, 232, 250);
    display: grid;
    grid-template:
    "grid2_subtit1 grid2_foto1 grid2_foto2 "
    "grid2_parr1 grid2_foto1 grid2_foto2"
    "grid2_subtit2 grid2_foto1 grid2_foto2" 
    "grid2_parr2 grid2_foto1 grid2_foto2" ;
    
    @include mobile {
        grid-template: 
        "grid2_foto1 grid2_foto2"
        "grid2_subtit1 grid2_subtit1"
        "grid2_parr1 grid2_parr1"
        "grid2_subtit2 grid2_subtit2"
        "grid2_parr2 grid2_parr2";
    }   

    &_foto1 {
        grid-area: grid2_foto1;
    }

    &_foto2 {
        grid-area: grid2_foto2;
    }

    &_subtit1 {
        grid-area: grid2_subtit1;
    }

    &_parr1 {
        grid-area: grid2_parr1;
    }

    &_subtit2 {
        grid-area: grid2_subtit2;
    }

    &_parr2 {
        grid-area: grid2_parr2;
    }
}