@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

@font-face {
    font-family: HighSpirited;
    src: url(/fonts/HighSpirited.ttf);
}

@font-face {
    font-family: CenturyGothic;
    src: url(/fonts/CenturyGothic.ttf);
}

$fontGothic: "CenturyGothic";
$fontSpirited: "HighSpirited";
$fontInspiration: "Inspiration";
$fontRaleway: "Raleway";

$primerColor: #eacaff;
$segundoColor: #9f86c0;
$tercerColor: #5e548e;
$cuartoColor: #231942;
